@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&family=Source+Code+Pro:wght@300&display=swap');

$red: #e70000;
$darkRed:#910000;
$lightRed: #ffdbdb;
$gray: #2b2b2b;
$lightGray: #dadada;
$darkGray: #1d1d1d;
$transparentlightGray: #4A4A4AC4;
$transparentGray: #00000054;
$white: #FBFBFB;
$font1: 'Poppins', sans-serif;
$fontCode: 'Source Code Pro', monospace;
$postBackground: hsla(0, 0%, 2%, 0.87);
$postContentBg: rgb(214, 214, 214);
$secondaryBg: rgb(40, 44, 52);
$linkHover: #ffc343;



