$red: #e70000;
$darkRed:#910000;
$lightRed: #ffdbdb;
$gray: #2b2b2b;
$lightGray: #dadada;
$darkGray: #1d1d1d;
$transparentlightGray: #4A4A4AC4;
$transparentGray: #333333c4;
$white: #FBFBFB;
$font1: 'Poppins', sans-serif;
$fontCode: 'Source Code Pro', monospace;
$postBackground: hsla(0, 0%, 2%, 0.87);
$postContentBg: rgb(214, 214, 214);
$secondaryBg: rgb(40, 44, 52);
$linkHover: #ffc343;



// ============[ Caption ]=============
.caption{
    position: absolute;
    top: 10px;
    background-color: rgba(124, 124, 124, 0.418);
    border-radius: 20px;
    display: block;
    padding: 2px 10px;
    
    visibility: hidden;
    & span{
        font-family: monospace;
        font-size: .8rem;
        font-weight: 400;
        color: rgb(197, 197, 197);
    }

}



@media (max-width:600px){
    .caption{
        display: none;
    }

}