@import "./global";


.button_wrap{
    display: inline-block;
}

.button{
    margin: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background: rgba(26, 25, 25, 0.829);
    border-radius: 10px;

}

.button{
    & .div__image{
        position: relative;
        width: 25px;
        height: 25px;
        // background-color: red;
        margin-right: 10px;
        border-radius: 50%;

        & img{
            object-fit: contain;
        }

        
    }
    & .div__text{
        color: #eee;
        font-size: 1.1rem;
        font-weight: 600;
    }
}


.button_wrap.mini{
    overflow: hidden;
    max-width: 70px;
    padding: 0;
    & .button{
        border-radius: 50%;
    }
    & .div__image{
        margin: 0;
        width: 30px;
        height: 30px;
    }
}