@import "./global";


.carousel{
    display: flex;
    flex-direction: column;
}

.div__cards_wrap{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px 15px;
    height: 400px;
    overflow: hidden;

    .div__card{
        position: absolute;
        width: 30%;
        min-height: 200px;
        align-self: center;
        
        background-color: $gray;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 black;
        
        --spacing: 80%;
        --duration: .5s;
        --backBrightness: 70%;

        z-index: -1;
        filter: brightness(var(--backBrightness));
        transform: translateX(0);
        opacity: 0;
        transition: all var(--duration) ease;
        
        &.left{
            transform: translateX(calc(var(--spacing) * -1));
            opacity: 1;
            z-index: 1;
        }
        &.right{
            transform: translateX(var(--spacing));
            opacity: 1;
            z-index: 2;
        }
        &.currentCard{   
            position: relative;
            left: 10px;
            transform: scale(120%);
            filter: none;
            opacity: 1;
            z-index: 3;            
        }

        & div:first-child{
            // display:none;
            pointer-events: none;
        }
    }
}

.div__bubbles{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & .bubble{
        --size: 8px;
        width: var(--size);
        height: var(--size);
        background-color: gray;
        border-radius: 50%;

        transition: all .2s ease;

        &:hover{
            filter: brightness(150%);
        }
        
        &.currentBubble{
            transform: scale(140%);
            filter: brightness(140%);
        }
    }

}

.div__buttons{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    gap: 20px;

    & button{
        display: flex;
        justify-content: center;
        align-items: center;

        --size:40px;
        width: var(--size);
        height: var(--size);
        
        color: #aaa;
        font-size: 20px;
        
        font-weight: 900;
        background: $transparentGray;
        padding: 10px;
        border: none;
        border-radius: 50%;

        &:hover{
            color: #eee;
            background-color: $transparentlightGray;
        }
    }
}



@media (max-width: 600px){

    .carousel{
        & .div__cards_wrap{
            position: relative;
            width: 100%;
            overflow: hidden;
        }
        & .div__card{
            &.div__card.left{
                transform: translateX(-120%);
                opacity: 0;
            }
            &.div__card.right{
                transform: translateX(120%);
                opacity: 0;
            }
            
            &.div__card.currentCard{
                transform: translateX(-10px);
                width: 100%;
            }
        }

    }
}