@import "./global";

.image{
    margin: auto;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    border-radius: 10px;

    
    & img{
        border-radius: 10px;
    }

    &:hover .caption{
        top: 30px;
        visibility:visible;
    }
}

.div__zoom_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.868);

    z-index: 10;

    & .div__zoomImage{
        position: relative;
        margin: 10px;
        width: 90vw;
        height: 90vh;
        border-radius: 20px;

        transition: all .1s ease;

        & .span__tip{
            padding: 0;
            display: inline-block;
            position: absolute;
            top: 15px;
            right: 15px;
            transform: rotate(45deg);
            font-size: 2.2rem;
            background-color: #3338;
            text-align: center;
            border-radius: 50%;
            line-height: 45px;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            cursor: pointer;

            
            
        }
        &:hover{
            background: #000a;
            & .span__tip{
                opacity: .6;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    & > span{
        font-family: $font1;
        font-size: 1.1rem;
        font-weight: 300;
        background-color: #333;
        padding: 4px 10px;
        border-radius: 10px;
        color: #aaa;
    }

    
}

@media (max-width:600px){
    .image{
        padding: 4px;
    }
    .div__zoomImage{
        background: #000a;
        
        & .span__tip{
            opacity: .5;
        }
    }
}