@import "./global";



.div__wrap{
    width: 100%;
    position: relative;
    display: flex;
    gap:10px;
    min-height: 100px;
    margin: 10px 0;

    --imgProportion:30%;
}


.div__image_wrap{
    position: relative;
    width: var(--imgProportion);
    height: 100%;
    
    & img{
        object-fit:contain;
    }

    & span {
        display: none;
    }
}


.div__text_wrap{
    width: calc(100% - var(--imgProportion));
    padding-left: 10px;

    color: $white;
    font-family: inherit;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: 1px;
    word-wrap:break-word;
}

@media (max-width:1100px){
    .div__wrap{
        flex-direction: column;
        justify-content: center;
    }
    
    .div__image_wrap{
        position: relative;
        width: 100%;
        height: 100px;
        overflow: hidden;

        & > div:nth-child(1) img{
            position: relative;
            object-fit: cover;
            filter: brightness(40%);
        }

        & span{
            display: inline-block;
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            text-align: center;
            color:#ddd;
            pointer-events: none;
        }
    }

    .div__text_wrap{
        width: 100%;
    }
}