@import "./global";

.link{
    background-color: $gray;
    color: $white;
    font-size: 1em;
    text-decoration: underline;
    
    &:hover{
        color: $linkHover;
    }
}

@media (max-width:600px){
    .link{
        font-size: 1rem;
    }
}