@import "./global";

.paragraph{
    
    color: #dedede;

    position: relative;
    font-family: inherit;
    font-size: 1.1em;
    font-weight: 300;
    padding: 20px 20px;
    line-height: 200%;
    letter-spacing: 1px;
}



@media (max-width:600px){
    .paragraph{
        font-size: .9em;
        line-height: 22px;
        padding: 10px;
    }
}