@import "./global";


.section{
    position: relative;
    background: $darkGray;
    margin: 20px 0;
    
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    // overflow: hidden;
    
    font-size: 1rem;
}

.div__headers{
    
    border-radius: 4px 4px 0 0 ;
    top: 80px;
    padding-bottom: 10px;
    overflow: hidden;

    &.sticky{
        position: sticky;
    }

    z-index: 2;
    
    & .title{
        padding: 20px;
        color: #eee;
        background-color: #444;
        font-size: 3em;
        box-shadow: 0 0 10px black;
    }


}

.div__content{
    padding: 20px;
}


@media (max-width:1100px){
    .div__headers{

        top: 60px;

        & .title{
            font-size: 2.6em;
            padding: 10px;
        }
    }
    .div__content{
        padding: 10px;
    }
}