@import "./global";

.title, .title2, .title3, .title4{
    color: $white;
    padding: 10px 20px;
    margin-bottom: 15px;

    background: #333;
    border-radius: 10px;

}

.title{
    font-size: 3.6rem;
    padding: 20px;
    margin-bottom: 40px;
    
    background: none;
    border-bottom: 2px solid gray;
    border-radius: 0;
}
.title2{
    font-size: 2.8rem;
    border: 2px solid #eee;

}
.title3{
    padding: 15px;
    font-size: 2rem;
}
.title4{
    padding: 8px 12px;
    font-size: 1.5rem;
}


@media (max-width:1100px){
    .title{
        font-size: 2.6rem;
        
    }
    .title2{
        font-size: 2.2rem;
    
    }
    .title3{
        font-size: 1.8rem;
    }
    .title4{
        font-size: 1.2rem;
    }
}