@import "./global";

.title, .title2, .title3, .title4{
    color: $white;
}

.title{
    padding: 10px 0;
    font-size: 3.6rem;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}
.title2{
    padding: 20px 0;
    font-size: 2.8rem;
}
.title3{
    padding: 15px 0;
    font-size: 2rem;
}
.title4{
    padding: 8px 0;
    font-size: 1.5rem;
}


@media (max-width:600px){
    .paragraph{
        font-size: 1rem;
        line-height: 22px;
    }
}