@import "./global";



.div__url_wrap{
    display: flex;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid rgb(71, 71, 71);
    overflow: hidden;

    &:hover{
        & .div__url_data{
            background: #333;
            & .div__title_img{
                background: #555;
                & img {
                    filter: invert(.9);
                }
            }
            & .div__data_src{
                color: #eee;
            }    
        } 
    }
}


.div__url_data{
    position: relative;
    width: 100%;
    padding: 20px;
    background: #222;
    color: #eee;
    font-size: 1rem;

    & .div__data_title{
        position: relative;
        font-size: 1.6em;
        padding-bottom: 6px;
        border-bottom: 1px solid #eee1;
        margin-bottom: 10px;
        font-weight: 700;

        & .div__title_img{
            position: absolute;
            top: 0px;
            right: 20px;
            background: #aaa4;
            border-radius: 10px;
            padding: 5px;

            width: 35px;
            height: 35px;

            & img{
                filter: invert(.4);
                transform: scale(60%);
            }
        }
    }
    & .div__data_description{
        color: #bbb;
        margin-bottom: 10px;
    }
    & .div__data_src{
        position: absolute;
        bottom: 10px;
        font-size: .8em;
        font-style: italic;
        color: #888;
    }
}

.div__url_img{
    position: relative;
    width: 50%;
    overflow: hidden;
    border-left: 1px solid #444;
    // background: #00a8;

    & > span:nth-child(1){
        filter: blur(10px);
    }
    & > span:nth-child(2){
        transform: scale(90%);
    }
}


@media (max-width: 1100px){
    .div__url_data{
        width: 100%;
        padding: 10px;
        & .div__data_title{
            font-size: 1.4em;
            margin-bottom: 4px;

            & .div__title_img{
                width: 30px;
                height: 30px;
                // top: -4px;
                right: 0px;

                & img{
                    filter: invert(.8);
                }
            }
        }
        & .div__data_description{
            font-size: .8em;
            padding: 4px 0;
        }

        & .div__data_src{
            font-size: .6em;
            bottom: 4px;
        }
    }

    .div__url_img{
        display: none;
    }
}